*{
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 242)
    
}

header {
    background-color: rgb(92, 109, 103);
     color: #fff;
     padding:   0%;
     position: fixed;
     width: 100%;
     display: flex;
}


header h1 {
    margin-right: 520px;
    margin-left: 17px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-table;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
}

section {
    padding: top;
    margin-left: 17px;
    background-color:rgb(242, 242, 242)
}

section h2 {
    margin-bottom: 20px;
    background-color: rgb(242, 242, 242)
}

.portfolio-item {
    margin-bottom: 40px;
}

.pertfolio-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px 0%;
    width: 10px;
}

footer {
    background-color: rgb(92, 109, 103);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
 
#tentang{
    background-color: rgb(242, 242, 242)

}